# Xcode
build/
DerivedData/
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcuserdatad
*.xcsettings
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# SwiftPM
.build/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Archives
*.xcarchive

# iOS Device Logs
*.crash
*.log
*.dSYM.zip
*.dSYM

# Temporary files
*.tmp
*.swp
*.lock

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Env / Secrets
*.env
*.key
*.pem